@{
    Layout = "/Views/Shared/_CusLayout.cshtml";//using the customized layout
    ViewData["Title"] = "Home Page";
}

<main>
    <article>
        <h2><a href="detail.html">Title</a></h2>
        <p>nothing here yet</p>
        <p>nothing here yet</p>
        <p>nothing here yet</p>
    </article>
    
</main>
